[safe]
	directory = *
[credential "https://codeup.aliyun.com"]
	provider = generic
[user]
	name = ZhouMoon
	email = 951176226@qq.com
[credential "https://github.com"]
	provider = generic
[user]
	name = ZhouMoon
	email = 951176226@qq.com
[core]
	fsmonitor = true
[credential "https://gitee.com"]
	provider = generic
[http]
	proxy = http://127.0.0.1:19527
[https]
	proxy = http://127.0.0.1:19527
# 默认分支
[init]
    defaultBranch = main
# 输出颜色
[color]  
    ui = true  